.best-selling {
    padding: 60px 0;
}

.best-selling .container {
    max-width: 1440px;

}

.best-selling-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 60px;
}

.best-selling-left {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
}

.best-selling-left h2 {
    font-size: 48px;
    font-weight: 700;
    color: #1e1e1e;
    margin-bottom: 20px;
    line-height: 1.2;
}

.best-selling-left p {
    font-size: 18px;
    color: #6f6f6f;
    margin-bottom: 20px;
    line-height: 1.2;
}

.best-selling-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.see-more-btn {
    background-color: #C1DCDC;
    color: #1e1e1e;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.see-more-btn:hover {
    background-color: #2996f0;
    color: #ffffff;
}

.plants-grid-slider {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.plants-group {
    display: flex;
    gap: 50px;
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s cubic-bezier(0.4, 0.0, 0.2, 1);
    position: absolute;
    width: 100%;
}

.plants-group.active {
    opacity: 1;
    transform: translateX(0);
    position: relative;
}

.plants-grid {
    display: flex;
    gap: 50px;
}

.plant-card {
    background: white;
    border-radius: 12px;
    text-align: left;
    transition: transform 0.3s ease;
    width: 320px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.plant-card:hover {
    transform: translateY(-5px);
}

.plant-card:hover .add-to-cart {
    opacity: 1;
    transform: translateY(0);
}

.plant-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.plant-card h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
    text-align: left;
}

.plant-card .price {
    font-size: 16px;
    font-weight: 600;
    color: #6f6f6f;
    text-align: left;
}

.add-to-cart {
    position: absolute;
    bottom: 25px;
    right: 15px;
    background-color: #C1DCDC;
    border: none;
    border-radius: 30%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

.add-to-cart svg {
    width: 24px;
    height: 24px;
}

.add-to-cart:hover {
    background-color: #2996f0;
    color: #ffffff;
}