.categories {
    padding: 60px 0;
}


.categories-header {
    margin-bottom: 80px;
    text-align: center;
}

.categories-header h2 {
    margin-bottom: 15px;
    
}

.categories-header p {
    color: #6f6f6f;
    margin-bottom: 48px;
}

.categories-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    align-items: start;
    background-color: #C1DCDC;
    padding: 40px 90px 60px 9%;
    overflow: visible;
}

.category-item {
    position: relative;
    overflow: visible;
}

.category-item img {
    border-radius: 12px;
}

.category-left {
    top: -100px
}

.category-center {
    top: 20px
}

.category-right {
    top: -100px
}

.category-overlay {
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(0, 0, 0);
    padding: 30px 20px 20px;
    text-align: center;
}

.category-overlay h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.category-overlay p {
    font-size: 14px;
    margin-bottom: 15px;
    opacity: 0.9;
}

.explore-btn {
    background-color: white;
    color: #1e1e1e;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.explore-btn:hover {
    background-color: #000;
    color: #fff;
}

.category-item img {
    width: 90%;
    height: 600px;
    object-fit: cover;
    display: block;
}