.testimonials {
    padding: 60px 0;
}
.testimonials h2 {
    font-size: 32px;
    font-weight: bold;
    color: #1e1e1e;
    margin-bottom: 60px;
    text-align: center;
}

.testimonials-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.testimonials-slider {
    position: relative;
    width: 100%;
    height: auto;
}

.slide-btn-prev,
.slide-btn-next {
    background-color: white;
    border: 2px solid #C1DCDC;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: #1e1e1e;
    cursor: pointer;
    flex-shrink: 0;
    z-index: 15;
    position: relative;
}

.testimonials-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateX(100%);
    z-index: 1;
}

.testimonials-content.active {
    position: relative;
    opacity: 1;
    transform: translateX(0);
    z-index: 2;
}

.testimonials-card {
    background-color: #C1DCDC;
    border-radius: 12px;
    padding: 30px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.testimonials-card.active {
    opacity: 1;
    transform: scale(1);
}

.testimonials-card p {
    font-size: 18px;
    color: #6f6f6f;
    margin-bottom: 20px;
}

.testimonials-author {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}



.avatar-bg img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.author-info {
    display: flex;
    flex-direction: column;
}

.author-info h4 {
    font-size: 18px;
    color: #1e1e1e;
    margin-bottom: 2px;
}

.author-info span {
    font-size: 12px;
    order: 2;
    color: #7d7d7d;
}

.rating {
    margin-left: auto;
}

.rating span {
    font-weight: 600;
    color: #1e1e1e;
}

.testimonial-dots {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: #2c5530;
}